body{
	background:#EDEFF0;
	font-family: 'Roboto', sans-serif;
	color: black;

}

.done{
	text-decoration: line-through;
}

.codiad{
	color:#f57f00;
}

.main{
	margin-top:20px;
}

.btn{
	margin-bottom: 10px;
	margin-top: 10px;
}

.table{
	margin-top: 10px;
}

/* .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #45568a;
} */

#logout{
	position:relative;
	text-align: right;

}

/* .btn-submit{
	background-color: #363e8a;
	color: white;

} */

.deny{
	color:red;
}

.main-form{
	
	padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    background: #a3a0a3;
    box-shadow:  0 0 10px #000000;
}

.hr-changelog{
	height: 1px;
	color: gray;
	background-color: gray;
	border: none;
}

.table-header{
	text-align: center;
}

.sticky {
	position: sticky;
	top: 0
}

.roadmap {
	font-weight: bold;
	color: red;
}

.hidden {
	display: none;
}

.form-control, select, textarea, .btn{
  box-shadow: 0 0 10px #000000;
}

.form-control:hover, select:hover, textarea:hover, .btn:hover{
  box-shadow: 0 0 20px #000000;
}

.input-form{
	height:1px;
	visibility: hidden;
}

.note {
    font-size: .8em;
}

.no-bullet{
	list-style-type: none;
}

#change-log-legend{
	margin-left: -40px;
	margin-right: -20px;
	padding-left: 30px;
}